.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.products-container{
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 100px;
    
}
.products-container img{
    height: 220px;
    margin: 7px ;
    
}
.cart-head{
    color:rgb(7, 7, 102) ;
}
.cart-container{
    background-color: rgba(98, 155, 240, 0.3);
    box-shadow: 0 4px 21px -12px rgb(0 0 0 / 79%);
}
.btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.clear-btn{
    display: flex;
    align-items: baseline;
    background-color: rgba(98, 155, 240, 0.3);
    border: 1px solid rgb(7, 7, 102);
    border-radius: 5px;
    font-size: 20px;
    color: rgb(7, 7, 102);
    padding-top: 5px  ;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.clear-btn:hover{
    background-color: orange;
    border: 1px solid orange;
    color: white;
}
.review-btn{
    display: flex;
    align-items: baseline;
    background-color: rgba(30, 48, 75, 0.3);
    border: 1px solid rgb(7, 7, 102);
    border-radius: 5px;
    font-size: 20px;
    color: rgb(7, 7, 102);
    padding-top: 5px  ;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.review-btn:hover{
    background-color: rgba(255, 48, 48, 1);
    border: 1px solid rgba(255, 48, 48, 1);
    color: white;
}
.btn-icon{
    width: 15.5px;
    margin-left: 10px;
    color: white;
}
@media only screen and ( max-width:688px ) {
    .shop-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .products-container{
        justify-items: center;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-top: 100px;
    }
}